.post-update-component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-update__comment-text-area {
    width: 90%;
    height: 150px;
    line-height: 1.5;
    padding: 0.5rem;
}