.loader {
    /* display: inline-block; */
    height: 2px;
    width: 60px;
    position: relative;
    cursor: not-allowed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.loader > div {
    height: 25px;
    width: 25px;
    display: block;
    margin: 6px;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid blueviolet;
    border-color: #03045e transparent transparent transparent;
    border-radius: 50%;
    animation: loader 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) infinite;

}

.loader > div:nth-child(1) {
    animation-delay: -0.15s;
}

.loader>div:nth-child(2) {
    animation-delay: -0.05s;
}

.loader>div:nth-child(3) {
    animation-delay: 0.5s;
}


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}