.slam-feed-section{
    width: 100%;
    border: 1.5px solid rgba(132, 144, 153, 0.596);
    padding: 0rem 0rem 0rem 0rem;
    box-sizing: 1rem 2rem 4rem;
    background-color: white;
    box-shadow: 2px 2px 6px #867e79;
    border-radius: 0.1rem;
}

.slam-feed-section > section, .slam-feed-section >p {
    margin: 1rem;
}

.posted-by {
    font-weight: bold;
}


.post-title {
    margin: 0px;
    font-size: 1.2rem;
}

.post-links>  p > span {
    margin: 0.15rem;
}
.post-section > p {
    margin: 0px;
}
.button-section{
    display: flex;
    justify-content: right;
    gap: 1rem;
}

.post-links, .post-links:hover{
    text-decoration: none;
    text-transform: none;
    color: black;
}
.post-links > h2 {
    /* margin-top: 0.5rem; */
    margin: 0rem;
}

.slam-feed-section > .feed-template__top-section {
    margin: 0rem 1rem;
    padding: 0rem;
    display: flex;
    justify-content: space-between;
}

.content-section {
    display: flex;
    width: 100%;
    
}

.source-image {
    height: 65px;
    width: 80px;
    border-radius: 0.1rem;
    margin: 1rem;
}

.post-section {
    padding-right: 1rem;
    width: 100%
}

.author-date__section {
    font-size: 0.9rem;
    margin-bottom: 0px;
}

@media(max-width:500px){
    .source-image{
        display: none;
    }
    .content-section {
        margin-left: 1rem;
        
    }
}
.buttons__feed-templates {
    display: flex;
    justify-content: space-between;
    /* margin: 1rem; */
    margin-left: 0rem;
    height: 70px;
}

@media(max-width: 600px){
    .buttons__feed-templates{
        margin-right: 0.5rem;
    }
}
.like-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}
.like-buttons {
    display: flex;
    gap: 1rem;
}
.like-buttons > p{
    cursor: pointer;
    font-size: 1.5rem;
    /* color: whitesmoke; */
}

.like {
    color: red;
}


@media(max-width: 600px){
    .createdAt-time {
        display: none;
    }
}
@media(min-width: 600px){
    .follow_unfollow-extras {
        margin-right: 2.3vw
    }
}
