.accounts-page {
    margin: 3rem 2rem 6rem 2rem;
}

.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-control {
    width: 85%;
    display: flex;
    justify-self: center;
    align-items: center;
}

@media(max-width: 500px){
    .signup-form-control{
        width: 100%;
    }
}
.input-form-classes {
    width: 93%;
}
@media(max-width: 800px) {
    .signup-form-control {
        max-width: 450px;
    }
}

@media(min-width: 800px) {
    .signup-page {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    .signup-form-control {
        width: 40%;
    }

    .signup-link>h3 {
        margin-left: 200px;
    }

    .accounts-page {
        margin: 1rem 2rem 6rem 2rem;
    }
}

.signup-intro {
    box-shadow: 2px 5px 8px rgb(142, 158, 172);
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    min-width: 300px;
    max-width: 400px;
}
.signup-intro >h3 {
    margin: 0rem;
}
.signup-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.signup-link>h3 {
    margin: 0px;
}

.signup-link>a {
    font-weight: bolder;
}

.signup-link>a:hover {
    color: rgb(70, 43, 95);
}